.footerCopyrightBlue {
    background: linear-gradient(90deg, #0a6ebd 24.2%, #b3d0ff 80.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }